body {
	background-color: rgb(225,225,225);
	color: #383838;

	font: 14px Verdana, Helvetica, sans-sarif;
	
	line-height: 1.5em;
	
}

#my_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}