body {
	background-color: rgb(105,105,105);
	color: black;

	font: 16px Verdana, Helvetica, sans-sarif;
	
	line-height: 1.5em;
	
}

.centered_container {
	margin: 0 auto;
	width: 1200px;
	min-height: 300px;
	overflow: hidden;
	padding-top: 40px;
}

#first_box {
	width: 300px;
	float: left;
	background-color: rgb(225,225,225);
	padding: 15px;
	border: dotted 1px red;
	margin-right: 102px;
}

#second_box {
	width: 300px;
	float: left;
	background-color: rgb(225,225,225);
	padding: 15px;
	border: dotted 1px red;
}

#third_box {
	width: 300px;
	float: left;
	background-color: rgb(225,225,225);
	padding: 15px;
	border: dotted 1px red;
	margin-left: 102px;
}

#about_box {
	width: 768px;
	float: right;
	background-color: rgb(225,225,225);
	padding: 15px;
	border: dotted 1px red;
}

#my_image {
	float: left;
	width: 370px;
  	height: 384px;
	border: dotted 1px red;
}

.centered_text {
	text-align: center;
}

.centered_list ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

@media(max-width: 700px) {
	.centered_container {
		width: 100%;
	}

	#first_box {
		width: 300px;
		float: none;
		margin: 0 auto;
	}

	#second_box {
		width: 300px;
		margin: 0 auto;
		float: none;
	}

	#third_box {
		width: 300px;
		float: none;
		margin: 0 auto;
	}

	#about_box {
		width: 100%;
		float: none;
	}

	#my_image {
		float: none;
		width: 370px;
	  	height: 384px;
	}
}